<a href="https://colab.research.google.com/github/zion6570/NLP_2023/blob/main/2_FiveTypesofData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#🐹 🐾  Five Types of Data
        Number, String, List, Tuple, Dictionary

Variables can be either a number or a sequence.     

1️⃣ Numbers can be either integers, floats, or imaginary numbers.
- interger 정수 : -100, -30, -11, 0, 1, 5, 100, 302, etc.
- float 실수 : -100.0, -30.0, -11.0, 0.0, 0.1, 2.4, 100.32, etc.
- complex 복소수: 1 + 5j
      ('j' represents imaginary numbers 허수)

2️⃣ Three types of seqeunce data

🅰️ <font color='red'> String </font> data are non-numerical data. It is indicated by a pair of either double quotations or single quotations.
- "a", "b", "c"
- 'a', 'b', 'c'
- "042114" (cf., 042114)
- "I love Sam's pencil case"

🅱️ Data can be consecutively connected. The <font color='red'> list</font>-stle-type data is most common. If consecutively connected elements are protected from a modification, we especially call it a <font color='red'> tuple</font>-style-type.

- i) <font color='red'> List</font>: A list is indicated by a pair of square brackets [ ].
      ['a', 'abc', 1, '911', 'I love Python']

- ii) <font color='red'> Tuple</font>: A tuple is indicated by a pair of brackets ( ).
      ('a', 'abc', 1, '911', 'I love Python')

👀 Be aware that elements in a list/tuple can be numbers, strings, dictionaries, or embeded lists/tuples of any kind. Note that elements in a tuple cannot be modified but protected under no circumstances.

- [1, 'a', 'bananas', 'berries','3.14']  
- [{'Earth': 14725000000, 'Mars': 23934000000}, [1, 2, 3], ['b', '042-114', 'I like apples'], (100, 200, 300)]

3️⃣ A paired data with a matched <font color='blue'>key - value</font> set is called <font color = 'red'> dictionary <font/>.
- {'a':'A', 'b':'B', 'c':"C'}
- {'a':1, 'b'':2, 'c':3}
- {'d':4}

## <font color = 'green'> Exercise
### <font color = 'green'>Assigning <font color = 'red'>Numbers</front> <font color = 'green'>to varialbes

In [1]:
#@markdown 📌 Assign 1 to a variable a.

a = 1
print (a)

1

In [2]:
#@markdown 📌 Assign 2 to a variable b.
b = 2
print (b)

2

In [3]:
#@markdown 📌 Use a print function and a Boolean operator +
print(a + b)

3

In [6]:
print(a+b)

3

## <font color = 'green'> Exercise
### <font color = 'green'>Assigning <font color = 'red'> Strings</front> <font color = 'green'>to varialbes

In [7]:
#@markdown 📌 Assign a string to a variable c

c = "I love Python"
print (c)

I love Python

In [9]:
#@markdown 🌄 소유격 표시를 한 문자열을 c변수에 해당
c = 'I love Python'
print(c)

I love Python

In [10]:
#@markdown 📌 To assign valid variable names
a = 'Lori'
_b = 'Sam'
a_b = 'Ken'
c_d = 'Jen'

a = 'Emma' # Be aware that variable a is used two times!

In [ ]:
#@markdown 📌 More on printing variables
a = 'Lori'
print(a)

_b = 'Sam'
print(_b)

a_b = 'Ken'
print(a_b)

c_d = 'Jen'
print(c_d)

a= 'Emma'
print(a)          #⏰ Remember the latest varialbe is printed if there is a redundant varialbe name.

Lori
Sam
Ken
Jen
Emma

In [ ]:
#If a variable name assinged with different values is repeated more than once, the most recent one matters.

print (a) #Be aware that variable a is 'EMMA', not 'Lori.'

Emma

## <font color = 'green'> Exercise
### <font color = 'green'>Assigning <font color = 'red'>Lists</front> <font color = 'green'>to varialbes

In [ ]:
#@markdown 📌 Assign lists to variables such as d, e, f.

d = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"] #Names of planets
e = ["수성", "금성", "지구", "화성", "목성", "토성", "천황성", "혜왕성" ] #행성 이름
f = [1,2,3,4,5,6,7,8,9,10]

print (d)
print(e)
print (f)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
['수성', '금성', '지구', '화성', '목성', '토성', '천황성', '혜왕성']
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## <font color = 'green'> Exercise
### <font color = 'green'>Assigning <font color = 'red'>Tuples</front> <font color = 'green'>to varialbes

In [ ]:
#@markdown 📌 Assign tuples to variables such as g, h, i.

g = ("Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune") #Names of planets
h = ("수성", "금성", "지구", "화성", "목성", "토성", "천황성", "혜왕성" ) #행성 이름
i = (1,2,3,4,5,6,7,8,9,10)

print (g)
print(h)
print (i)

('Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune')
('수성', '금성', '지구', '화성', '목성', '토성', '천황성', '혜왕성')
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

## <font color = 'green'> Exercise
### <font color = 'green'>Assigning <font color = 'red'>Dictionaries</front> <font color = 'green'>to varialbes

In [ ]:
#@markdown 📌 Assign dictionary data to variables such as k and m.

k = {'Mercury':'수성', 'Venus':'금성', 'Earth':'지구', 'Mars':'화성', 'Jupiter':'목성', 'Saturn':'토성', 'Uranus':'명왕성', 'Neptune':'해왕성'} #key in English: value in Korean

m = {'Mercury 수성':1, 'Venus 금성':2, 'Earth 지구':3, 'Mars 화성':4, 'Jupiter 목성':5, 'Saturn 토성':6, 'Uranus 명왕성':7, 'Neptune 해왕성':8} # i) order of planets from the Sun, ii) key in English and Korean, iii) value in integers

print (k)
print (m)

{'Mercury': '수성', 'Venus': '금성', 'Earth': '지구', 'Mars': '화성', 'Jupiter': '목성', 'Saturn': '토성', 'Uranus': '명왕성', 'Neptune': '해왕성'}
{'Mercury 수성': 1, 'Venus 금성': 2, 'Earth 지구': 3, 'Mars 화성': 4, 'Jupiter 목성': 5, 'Saturn 토성': 6, 'Uranus 명왕성': 7, 'Neptune 해왕성': 8}

In [ ]:
#@markdown 📌 Print the value of key 'a' ('a' as string data)
dict = {'a':1, 'b':2, 'c':3}
print (dict)
print(dict['a'])

{'a': 1, 'b': 2, 'c': 3}
1

In [ ]:
#@markdown 📌 Replacing a value of your dictionary data with another

dict = {'a':1, 'b':2, 'c':3}

print(dict)

dict['a']=7
print (dict)

dict_data = {'c':10, 'b':20, 'a':30}
print(dict_data)
dict_data['a'] = 300
print(dict_data)

{'a': 1, 'b': 2, 'c': 3}
{'a': 7, 'b': 2, 'c': 3}
{'c': 10, 'b': 20, 'a': 30}
{'c': 10, 'b': 20, 'a': 300}